<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>jframework</Name>
  <Version>1.0.0</Version>
  <Title>JFramework框架</Title>
  <Publisher>smartsoft</Publisher>
  <StartMenuDir>Smartsoft Software</StartMenuDir>
  <TargetDir>@HomeDir@/@Publisher@/@Name@/@Version@</TargetDir>
  <MaintenanceToolName>Uninstall</MaintenanceToolName>
</Installer>
